@charset "TF-8";
*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
background-image: linear-gradient(to bottom, #E831EE, #8F4DB9, #561CEA );
color: black;
}

main{
    background-color: white;
   border-radius: 10px;
  box-shadow: 5px 5px 15px #2c198bb6;
   margin-bottom: 25px;
  width: 600px;
   padding: 10px;
}

p{
    text-align: justify;
}
mark{
    background-color: rgb(94, 24, 160);
}